.login-page {
    background-color:#f53d3d;
 
      img {
      width: 70%;
      height: auto;
      margin: 40px 0 40px 50px;
    }

      ion-item {
          border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          font-size: 0.9em;
      }
 
      .login-button {
          width: 100%;
          border-radius: 30px;
          font-size: 0.9em;
          margin-top: 30px;
          border: 1px solid #fff;
          background-color: #D71919;
      }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
        border-bottom: 0 !important;
    }

}