.login-page {
    background-color:#f53d3d;
 
      img {
      width: 70%;
      height: auto;
      margin: 20px 0 30px 50px;
    }

      ion-item {
          border-radius: 30px !important;
          margin-bottom: 20px;
          background-color: #f6f6f6;
          font-size: 0.9em;
      }
 
      .login-button {
          width: 100%;
          border-radius: 30px;
          font-size: 0.9em;
          margin-top: 25px;
          border: 1px solid #fff;
          background-color: #D71919;
      }

    .invalid {
        border-bottom: transparent !important;
        color: #D71919;
    }
    .valid{
        border-bottom: transparent !important;
        color: #32db64;
    }

    .error-message .item-inner {
        border-bottom: 0 !important;
    }

}