<ion-header>
    <ion-navbar color="primary">
        <ion-title>Escanear</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <button ion-button full color="primary" (click)="scan()">Escanear</button>
    <button ion-button full color="secondary" (click)="reset()">Borrar</button>
    
    <div *ngIf="results">
        <button *ngIf="order.estado=='Asignado'" ion-button full (click)="save(0)">Añadir paquete</button>
        <button *ngIf="order.estado=='En reparto'" ion-button full (click)="save(1)">Entregar paquete</button>
    </div>

</ion-content>