<ion-header>
    <ion-navbar color="primary">
        <ion-title>Escanear</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <button ion-button full color="secondary" (click)="scanManual()">Escaneo manual</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button full color="light" (click)="reset()">Limpiar</button>
            </ion-col>
            <ion-col col-4>
                <button ion-button full color="success" (click)="scan()">Escanear</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <div *ngIf="results">
        <button *ngIf="order.estado=='Asignado'" ion-button full (click)="save(0)">Añadir paquete</button>
        <button *ngIf="order.estado=='Siguiente en entrega'" ion-button full (click)="save(1)">Entregar paquete</button>
    </div>
    <div *ngIf="signatureImage">
        <img [src]="signatureImage"/>
        <button ion-button full (click)="finishDeliver()">Finalizar</button>
    </div>

</ion-content>